<div>
<!--  <button (click)="updateEventList()">-</button>-->

  <table class="table">
    <thead class="thead-dark">
    <tr>
      <th style="width: 25%">Date</th>
      <th style="width: 75%">Event</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngIf="eventArray == ''">
      <td colspan="2">No events</td>
    </tr>
    <tr *ngFor="let ev of eventArray">
      <td  style="width: 25%">{{ev.eventTime.toDateString()}}</td>
      <td  style="width: 75%">{{ev.eventName}}</td>
    </tr>
    </tbody>
  </table>



</div>
